@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,700i&subset=cyrillic');

body {
	font-family: 'Montserrat', sans-serif;
    background: #fff;
    margin: 0 auto;
}

.h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    color:#052A40;
}
.h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    color:#052A40;
}
.h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color:#052A40;
}
.h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color:#052A40;
}
.h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color:#052A40;
}
.h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color:#052A40;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper--foot {
    background: #052A40;
}
.wrapper--social {
    background: #042133;
}


/* Screen 1 */
.techp_head {
    background: #fff url(../img/head_img.png) center no-repeat;
    max-width: 100%;
    height: 456px;
    /*background-size:cover;*/
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    padding-top: 156px;
    margin-bottom: 120px;
}

.techp_title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


.techp_title h2 {
    font-size: 36px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 12px;
}

.techp_title h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
    padding: 12px 0px 96px 0px;

}    

.techp_title h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 24px;
}    

.techp_block {
    height: 70px;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-flex;
    padding-right: 12px;
}

.techp__form_title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 24px;
}
.techp__form_title span {
    color:red;
}    

.techp__form {
    width: 336px;
    height: 48px;
    font-size: 15px;
    color: #596870;
    box-sizing: border-box;
    padding-left: 15px;
}
.techp__form:focus {
    outline: 0;
}

/*Для валидации */
.techp__form:valid { 
    background: #F5F5F5 url(../img/success.png) center no-repeat;
   /* background: #F5F5F5 url(../img/error.png) center no-repeat; Ошибка*/
    background-position-x: right;
}



.techp__form--phone {
    width: 204px;
}

.techp__pdn {
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    font-size: 14px;
    margin-top: 12px;
}

.techp__pdn--dark {
    color: #052A40;
}

.techp__pdn a {
color: #00BCF0;
text-decoration: none;
}    

.form-checkbox {
	display: none;
}

.form-checkbox-custom {
	position: relative;      
	width: 18px;             
	height: 18px;          
    background: url(../img/bg.png) no-repeat;
}
.form-checkbox-custom,
.form-label {
	display: inline-block;
    vertical-align: middle;
    font-family: "PT Sans Caption",Arial,sans-serif;
    margin-top: -4px;
    font-size: 16px;
    color: #000;
}
.form-checkbox:checked + .form-checkbox-custom::before {
	content: "";             
	display: block;			 
	position: absolute;    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url(../img/bg_check.png) no-repeat;
	border-radius: 2px;
}
            
/* Screen 2*/

.rectangle {
    border:3px solid #00BCF0;
    width: 180px;
    margin-bottom: 21px;
}

.safeguard {
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
    margin: auto;
    padding-top: 72px;
    margin-bottom: 120px;
}

.safeguard__block {
    text-align: center;
    width: 282px;
    margin-bottom: 10px;
    margin-top: 36px;
}
.safeguard__title {
    padding-top: 32px;
    text-align: left;
}

.safeguard__text {
    padding-top: 12px;
    text-align: left;
    font-size: 15px;
    color:#596870;
    line-height: 24px;
}    

.safeguard__text--edge {
    width: 384px;
}
.safeguard__quote {
    background: #F5F5F5;
    padding: 28px 102px 28px 102px;
    border-left: #DCE1E5 solid;
    margin-bottom: 120px;
    color: #596870;
}

.safeguard__quote_text {
    font-weight: normal !important;
}

/*Screen 3*/
.tariff {
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	display: flex;
    margin: auto;
    padding-top: 60px;
}
.tariff--fix {
    padding-top: 25px;
}

.tariff__name {
    text-align: center;
    width: 180px;
    padding-left: 30px;
}

.tariff__name--price {
    text-align: center;
    width: 180px;
    padding-left: 30px;
}


.tariff__desc {
    font-weight: normal !important;
}

.tariff__desc span {
    display: block;
    font-size: 12px;
    padding-bottom: 12px;
}

.tariff__table {
    width: 1200px;
    border:1px solid #DCE1E5;
}

.divTable {
	display: table;
    width: 100%;
    border:1px solid #DCE1E5;
    margin-top: 12px;
}
.divTableRow {
	display: table-row;
    width:50px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
    border-bottom:1px solid #DCE1E5;
	display: table-cell;
    padding: 12px 24px 12px 24px;
    width: 480px;
    color: #052A40;
    background-color: #F5F5F5;
    font-size: 14px;
    line-height: 24px;
}
.divTableCell--small {
    border-bottom:1px solid #DCE1E5;
    width: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


/* Screen 4 form */
.tariff__background {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 100%);
    height: 280px;
    
}

.tariff__form {
    background: #fff;
    height: 239px;
    border-radius: 4px;
    margin-top: -170px;
    padding: 36px 0 0 102px;
    margin-bottom: 120px;
    border: 1px solid #DCE1E5;
}


.tariff__block {
    height: 70px;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-flex;
    padding-right: 12px;
    
}
.tariff__manager_name {
    color: #fff;
    padding: 200px 24px 24px 24px;
}

.tariff__manager_name span {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.tariff__form_title {
    font-size: 14px;
    font-weight: bold;
    color: #052A40;
    line-height: 24px;
}
.tariff__form_title span {
    color:red;
}   

.tariff__right {
    background: url(../img/ekaterina-1.png) #052A40 no-repeat;
    background-position: center bottom ;
    float: right;
    width: 384px;
    height: 276px;
    margin-top: -36px;
    border-radius: 0 4px 4px 0;
    
}

.tariff__form--input {
    background: #F5F5F5;
    border: 1px solid #DCE1E5;
    
}

.tariff__pdn {
    padding-top: 12px;
    padding-bottom: 24px;

}

/* Screen 5 */

.edge__title {
text-align: center;
font-weight: normal;
}



/* Screen 6 Slider Style */

.wrapper_tech_p {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 120px;
  /*padding-left: 10px !important;
  padding-right: 10px !important; */
}
.tech_p-gray {
  background-color: #f7f7f7;
  color: #2f2f2f;
}

.tech_p .jcarousel {
    position: relative;
    overflow: hidden;
  }
.tech_p .jcarousel > ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }
.tech_p .jcarousel > ul > li {
    display: table-cell;
    vertical-align: top;
    position: relative;
  }
.tech_p * {
    box-sizing: border-box;
  }
.tech_p .jcarousel {
    position: relative;
    overflow: hidden;
  }

.tech_p_certificates_slider {
    padding: 0px 24px;
    position: relative;
  }
.tech_p_certificates_slider li {
    text-align: center;
  }
.tech_p_certificates_title {
    margin-top: 10px;
    font-size: 12px;
  }
.tech_p_certificates .jcarousel_button {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 47%;
    margin-top: -16px;
  }
.tech_p_certificates .jcarousel-control-prev {
    left: 0;
    background: url("../img/jcarousel-prev.png") left center no-repeat;
  }
.tech_p_certificates .jcarousel-control-next {
    right: 0;
    background: url("../img/jcarousel-next.png") right center no-repeat;
  }


/* Screen 7 */

.rectangle--center {
    margin: 0 auto;
}

.h3--center {
    margin-top: 21px;
    text-align: center;
}


.flex_services {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    max-width: 1200px;
    margin-top: 78px;
    margin-bottom: 180px;
  
}
.container_services {
    position: relative;
    max-width: 588px;
}
  
.image_services {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
}
  
.middle_services {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height:  100%;
}
  
.container_services:hover .middle_services {
    opacity: 1;
    width: 100%;
    height:  100%;
}
  
.gradient_services {
    width: 100%;
    height:  204px;
    background: linear-gradient(270deg, rgba(0, 188, 240, 0.7) 0%, rgba(5, 42, 64, 0.7) 100%) no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.union_services {
      background: url(../img/union.png) center no-repeat;
      /*background: url(/bitrix/templates/creative3/images/support/union.png) center no-repeat;*/
      width: 100%;
      height: 100%;
  
}
  
  

.services_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    color: #ED5565;
    text-align: center;
    margin: 1.6em auto;
    max-width: 1020px;
    line-height: 0.9em;

}


.services_name {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    position  : absolute; 
    bottom: 105px;
    left: 45px;
    color: #fff;
}


.services_border {
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-radius: 0px 0px 5px 5px;
    height: 80px;

}

.services_text {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 30px;
    color: #052A40;
}



/* Screen 8 */


.form__footer {
    background: #fff;
    height: 472px;
    border-radius: 4px;
    padding: 36px 0 0 102px;
    border: 1px solid #DCE1E5;
    position: relative;
}

.form__footer_manager {
    color: #fff;
    padding: 36px 24px 0 24px;
}

.form__footer_text {
    font-weight: 500;
    padding: 12px 0px 24px;
}

.form__footer_manager span {
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.form__footer_contact {
    color: #fff;
    font-size: 14px;
    line-height: 2;
    opacity: 1;
    padding: 15px 25px;
    width: 334px;
    background: linear-gradient(180deg, rgba(5, 42, 64, 0) 0%, #052A40 100%);
    border-radius: 0px 0px 4px 0px;
    margin-top: 315px;
}
.form__footer_contact span {
    display: block;
}
.form__footer_contact a {
    color:#00BCF0;
    font-weight: 400;
    text-decoration: none;
}


.form__footer_block {
    padding-top: 12px;
}

.form__footer_title {
    font-size: 14px;
    font-weight: bold;
    color: #052A40;
    line-height: 24px;
}
.form__footer_title span {
    color:red;
}   

.form__footer_right {
    background: url(../img/ekaterina-2.png) #052A40 no-repeat;
    background-position: center bottom ;
    float: right;
    width: 384px;
    height: 508px;
    margin-top: -36px;
    border-radius: 0 4px 4px 0;
    margin-right: -1px;
    
}

.form__footer--input {
    background: #F5F5F5;
    border: 1px solid #DCE1E5;
}

.form__footer_pdn {
    padding-top: 12px;
    padding-bottom: 24px;
    margin-left: 129px;
}

.form__footer--fixed {
    display: inline-block; 
    width: 125px;
}


/*Screen 9 */


.about__company {
    background: #093751 url(../img/about-company-footer.png) center no-repeat;      
    max-width: 100%;
    height: 576px;
    
    /*background-size:cover;*/
    margin: 0 auto;
    margin-top: -100px;
}

.achievement {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto; 
    padding-top: 216px;
}

.achievement__block {
    text-align: center;
    width: 282px;
    margin-bottom: 10px;
}

.achievement__text {
    padding-top: 36px;
    color:#D2D5D9;
    font-size: 15px;
    line-height: 24px;
}


/*Footer*/ 
.footer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto; 
    background: #052A40;
    height: 240px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__left {
    margin-top: 48px;
}

.footer__right {
    margin-top: 48px;
}

.footer__phone {
    font-weight: bold;
    line-height: 36px;
    font-size: 24px;
}
.footer__phone a {
    color: #00BCF0;
    text-decoration: none;
}

.footer__phone span, .footer__adress span, .footer__menu li {
    position:relative;
    padding-bottom : 3px;
}
.footer__phone span:after, .footer__adress span:after, .footer__menu li:after {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1px;
    border-bottom:1px solid rgba(0, 188, 240, 0.2);
    content:""
}


.footer__adress {
    font-weight: normal;
    line-height: 24px;
    font-size: 15px;
    color: #DCE1E5
}
.footer__adress a {
    color: #00BCF0;
    text-decoration: none;
    display: block;
}


.footer__menu {
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    margin-top: 24px;
}
.footer__menu a {
    color: #DCE1E5;
    text-decoration: none;
}
.footer__menu ul {
    padding-left: 0px;
}

.footer__menu li {
    display: inline-block;
    margin-right: 15px;
}


.footer__text {
    font-weight: bold;
    line-height: 24px;
    font-size: 15px;
    color: #DCE1E5;
   
}

.footer__text span {
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-bottom: 12px;
}

.footer__form {
    flex-direction: column;
    justify-content: flex-end;
    display: inline-flex;

}
.footer__input_name {
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    color: #FFFFFF;
}

.footer__input {
    width: 294px;
    height: 42px;
    font-size: 15px;
    color: #596870;
    padding-left: 20px;
}

.footer__input:valid {
    background: #fff url(../img/success.png) center no-repeat;
    background-position-x: right;
}

.footer__social {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;    
    background: #042133;
    height: 48px;
    max-width: 1200px;
    margin: 0 auto; 
}

.social__left {
    margin-top: 12px;
}

.social__left ul {
    padding: 0;
    margin: 0;
}
.social__left li {
    display: inline-block;
    margin-right: 6px;
}

.social__right {
    margin-top: 12px;
}

.social__copyright {
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
    color: #DCE1E5;
}

.social__copyright img {
    vertical-align: middle;
    margin-right: 5px;
}





/*Style for button */
.button { 
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 14px 0px 14px;
    width: 240px;
    background: -moz-linear-gradient(top, #FA2869 0%, #F91B60 100%);
    background: -webkit-linear-gradient(top, #FA2869 0%, #F91B60 100%); 
    background: linear-gradient(to bottom, #FA2869 0%, #F91B60 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    box-shadow: 0px 10px 20px rgba(249, 27, 96, 0.3);
    border-radius: 2px;
    border-color: #FA2869;
}


.button:focus {
    outline: none;
    box-shadow: 0px 8px 20px rgba(249, 27, 96, 0.3);
}

.button--tariff {
    width: 180px;
    margin-bottom: 60px;
}

.button--form {
    width: 180px;
    margin-left: 129px
}

.button--subscribe {
    width: 179px;
    height: 48px;
}


@media (max-width: 1420px) {
    .safeguard__text--edge {
        width: auto;
    }
}

@media (max-width: 1220px) {
    
    .techp_title, .techp_block, label, .h3, .safeguard {
        padding-left: 10px;
        padding-right: 10px;
    }
    .rectangle, .safeguard__quote, .divTable, .tariff__form, .tech_p_certificates_slider, .form__footer, .achievement, .footer, .footer__social, .container_services, .tariff--fix {
        margin-left: 10px;
        margin-right: 10px;
    }
    
 
    .container_services {
        margin-bottom: 10px;
    }
    .divTable {
        max-width: 100%;
        width: inherit;
    }
    .flex_services {
        justify-content: center;
    }
    .about__company {
        height: auto;
        background-size: cover;
    }

}

@media (max-width: 1080px) {
    .form__footer, .tariff__form {
    padding-left: 10px;
    }

    .safeguard, .achievement  {
        justify-content: space-around;
    }

    .footer { 
        height: 410px;
        justify-content: center;
        text-align: center;
    }

    .footer__left {
        height: 100px;
    }
    .footer__input_name {
        text-align: left;
        padding-left: 0;
    }


    @media (max-width: 950px) {
        .techp_head {
            padding-top: 132px;
        }
        .form__footer_right {
            display: none;
        }
        .techp__form--phone {
            width: 336px;
        }
        .form__footer {
            text-align: center;
        }
    }
  



@media (max-width: 850px) {
    .techp_title h2 {
        font-size: 30px;
    }
    .techp_title h4 {
        font-size:20px;
        padding: 12px 0px 48px 0px
    }
    .tariff__right {
        display: none;
    }
    .tariff__form {
        text-align: center;
    }
    .tariff__form_title {
        text-align: left;
        padding-left: 0px;
    }
}


@media (max-width: 750px) {
    .techp_title, .techp_form {
        text-align: center;
    }
    .techp__form_title {
        text-align: left;
    }

    .tariff {
        justify-content: space-around;
        margin-left: 10px;
        margin-top: 10px;
    
    }
    .tariff__name, .tariff__name--price {
        padding-left: 1px;
        width: auto;
    }

    .tariff__name.h5 {
        font-size: 15px;
    }
    .tariff__desc.h6 {
        font-size: 14px;
    }
    
    .divTableRow {
        display: block;
        width: auto;
    }
    .divTableCell, .divTableHead {
        display: block;
        width: auto;
        max-width: 492px;
        border-bottom: inherit;
        margin-bottom: 16px;
    }
    .divTable {
        margin: 0 auto;
    }
    .divTableCell--small {
        padding-bottom: 8px;
    }

    .safeguard__quote {
        padding: 24px 24px 28px 24px;
    }
    .rectangle--tariff {
        margin-top: 84px;
    }
    .tariff__form, .safeguard, .wrapper_tech_p {
        margin-bottom: 84px;
    }
    .flex_services {
        margin-top: 48px;
    }
    .form__footer {
        padding-top: 0px;
        margin-left: 0px;
    }
    .tariff__background {
        background: #fff;
    }

   
}



@media (max-width: 650px) {
    .gradient_services {
        display: none;
    }
    .techp_head {
        height: 660px;
        background-size: cover;
   
    }
    .button {
        width: 290px;
    }
    .button--tariff {
        margin-bottom: 24px;
    }

    .techp__form, .techp__form--phone {
        width: 288px;
       padding: 0;
    }

    .techp_block {
        height: auto;
        margin-bottom: 12px;
    }
    .techp__form_title {
        padding-left: 0px;
    }
    .techp__pdn {
        display: inherit;
    
    }
    .tariff__background {
        /* visibility: hidden; */
       
     }
     .safeguard__title, .safeguard__text {
         text-align: center;
     }

     .footer {
         height: 576px;
     }
     .footer__input {
        width: 266px;
     }

     .h3 {
         font-size: 22px;
     }

     .edge__title {
         font-size:20px;
     }
     .safeguard {
        padding-top: 48px;
     }

     .rectangle--center {
        margin: 0 auto !important;
     }
     .services_text {
         padding-top: 15px;
     }
     .flex_services {
         margin-bottom: 72px;
     }
}    

@media (max-width: 550px) {
    .divTable {
        margin-left: 10px;
        margin-right: 10px;
    }
    .form__footer_pdn, .button--form {
        margin-left: 0px;
    }
    .form__footer {
        height: auto;
        border: 0px;
    }
    .about__company {
        margin-top: 48px;
    }
  
    .achievement {
        padding-top: 48px;
    }
    .form__pdn {
        display: inline-block;
        width: 230px;
        padding-bottom: 20px;
    }

    .footer__social {
        height: 96px;
        justify-content: center;
    }
}


@media (max-width: 400px) {

    .tariff__form {
        border: 0px;
        margin-top: -285px;
    }
    .tariff__block {
        padding-right: 0px;
    }
    .tariff__form {
        margin-left: 0px;
    }
    .techp_head {
        height: auto;
    }
    .tariff__name.h5 {
        width: 93px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .footer__form {
        padding-left: 0px;
    }
    .form__footer {
        text-align: left;
    }
    .services_text {
        padding-top: 5px;
    }

}